<% if  project.versions.last.color_swatch.present? %>

        <div class="hand-icon" ></div>
      </div>
      <div class="d-flex stuff">


        <div class="color" style="background-color: <%= project.versions.last.color_swatch.color_1 %>"></div>

        <div class="color" style="background-color: <%= project.versions.last.color_swatch.color_2 %>"></div>

        <div class="color" style="background-color: <%= project.versions.last.color_swatch.color_3 %>"></div>

        <div class="color" style="background-color: <%= project.versions.last.color_swatch.color_4 %>"></div>

        <div class="color" style="background-color: <%= project.versions.last.color_swatch.color_5 %>"></div>
      </div>
      <div style="display: none;">
      <%= render 'shared/projects/update_coordinates', path: [version, version.color_swatch] %>
      <%= render 'shared/projects/update_zindex', path: [version, version.color_swatch] %>
    </div>
<% end %>

