<% if  @last_color_swatch%>
  <div class="draggable d-flex color_swatch">
    <% if @last_color_swatch.color_1 %>
      <div class="color" style="background-color: <%= @last_color_swatch.color_1 %>"></div>
    <% else %>
      <div class="color" style="background-color: #ffffff "></div>
    <% end %>
    <% if @last_color_swatch.color_2 %>
      <div class="color" style="background-color: <%= @last_color_swatch.color_2 %>"></div>
    <% else %>
      <div class="color" style="background-color: #ffffff "></div>
    <% end %>
    <% if @last_color_swatch.color_3 %>
      <div class="color" style="background-color: <%= @last_color_swatch.color_3 %>"></div>
    <% else %>
      <div class="color" style="background-color: #ffffff "></div>
    <% end %>
    <% if @last_color_swatch.color_4 %>
      <div class="color" style="background-color: <%= @last_color_swatch.color_4 %>"></div>
    <% else %>
      <div class="color" style="background-color: #ffffff "></div>
    <% end %>
    <% if @last_color_swatch.color_5 %>
      <div class="color" style="background-color: <%= @last_color_swatch.color_5 %>"></div>
    <% else %>
      <div class="color" style="background-color: #ffffff "></div>
    <% end %>

  </div>
<% end %>

