<% @project.comments.each do |comment| %>
  <div class="draggable comment <%= "artist" if comment.user_id == project.artist_id %> <%= "client" if comment.user_id == project.customer_id %>" data-commentid="<%= comment.id %>" style="top: <%= comment.y %>px; left: <%= comment.x %>px; z-index: <%= "#{comment.z}" %>">
    <div class="d-flex">
      <div class="hand-icon" ></div>

      <div class="resizeIcon" data-size="big" data-type="<%="C#{comment.id}#{comment.user.id}" %>" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>
      <div class="resizeIcon" data-size="medium" data-type="<%="C#{comment.id}#{comment.user.id}" %>" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>
      <div class="resizeIcon" data-type="<%="C#{comment.id}#{comment.user.id}" %>" data-size="small" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>

      <label class="switch toggler" data-type="<%="C#{comment.id}#{comment.user.id}" %>" href="#">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label>
    </div>

    <div class="<%="#{comment.size} C#{comment.id}#{comment.user.id}" %> <%= "hideComment" if comment.display %>" >
      <% if comment.image.present? %>
        <div class="paint-comment">
          <%= cl_image_tag(comment.image_url, width: "300", height: "auto", alt: "erreur", draggable: false, class: "") %>
            <canvas class="drawable" data-canvas="<%= comment.canvas %>" width: <%= FastImage.size(comment.image_url)[0] %>>
              <div style="display: none;" >
                <%= render 'shared/projects/update_canvas', path: comment %>
              </div>
            </canvas>
        </div>
      <% end %>
      <% if comment.description.present? %>
        <div class="comment-text">
          <%= comment.description %>
        </div>
      <% end %>
      <div style="display: none;">
        <%= render 'shared/projects/update_coordinates', path: comment %>
        <%= render 'shared/projects/update_display', path: comment %>
        <%= render 'shared/projects/update_size', path: comment %>
        <%= render 'shared/projects/update_zindex', path: comment %>
      </div>
    </div>
  </div>
<% end %>
