<% @project.comments.each do |comment| %>
  <div class="draggable comment" data-commentid="<%= comment.id %>" style="top: <%= comment.y %>px; left: <%= comment.x %>px">
    <div class="d-flex">
      <div class="hand-icon" ></div>

      <div class="resizeIcon" data-size="big" data-type="<%="C#{comment.id}#{comment.user.id}" %>" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>
      <div class="resizeIcon" data-size="medium" data-type="<%="C#{comment.id}#{comment.user.id}" %>" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>
      <div class="resizeIcon" data-type="<%="C#{comment.id}#{comment.user.id}" %>" data-size="small" style="height: 30px; width: 10px; background-color: black; margin: 2px;"></div>

      <label class="switch toggler" data-type="<%="C#{comment.id}#{comment.user.id}" %>" href="#">
        <input type="checkbox" >
        <span class="slider round"></span>
      </label>
    </div>

    <div class="<%="#{comment.size} C#{comment.id}#{comment.user.id}" %> <%= "hideComment" if comment.display %>" >
      <% if comment.image.present? %>
        <%= cl_image_tag(comment.image_url, width: "100%", height: "auto", alt: "erreur", draggable: false, class: "") %>
        <!-- <div class="paint-comment">
          <canvas class="drawable"></canvas>
        </div> -->
      <% end %>
      <% if comment.description.present? %>
        <div class="comment-text">
          <%= comment.description %>
        </div>
      <% end %>
      <div style="display: none;">
        <%= render 'shared/projects/update_coordinates', path: comment %>
        <%= render 'shared/projects/update_display', path: comment %>
        <%= render 'shared/projects/update_size', path: comment %>
      </div>
    </div>
  </div>
<% end %>
