<!-- Button trigger modal -->
<% if !@project.artist %>
    <button class="btn-circle-artist" data-toggle="modal" data-target="#addArtist">
      <i class="fas fa-user-friends"></i>
  </button>
<% end %>

<!-- Modal -->
<div class="modal fade" id="addArtist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Share Your Project</h5>
      </div>
        <div  class="modal-body" style="text-align: left;">
            <p>Hello,</p>
            <p>Here is our project <strong><%= @project.name %></strong>.</p>
            <p>"<%= @project.brief %>"</p>
        </div>
      <div class="modal-body" style="text-align: left;">
        <%= form_with(url: project_path(@project), method: "patch", local: true) do %>
          <%= label_tag(:q, "artist email") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("Share") %>
        <%end%>
      </div>
    </div>
  </div>
</div>

