<!-- Button trigger modal -->
  <button class="btn-circle-paint" data-toggle="modal" data-target="#colorSwatch">
  <i class="fas fa-fill-drip"></i>
  </button>

<!-- Modal -->
<div class="modal fade" id="colorSwatch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Color Swatch</h5>
      </div>
      <div class="modal-body">
         <%= simple_form_for [@last_version, @last_version.color_swatch] do |f| %>
           <%= f.color_field :color_1 %>
           <%= f.color_field :color_2 %>
           <%= f.color_field :color_3 %>
           <%= f.color_field :color_4 %>
           <%= f.color_field :color_5 %>
          <div class="modal-footer">
              <%= button_tag(type: 'submit', class: "btn-circle-save") do %>
              <i class="fas fa-check"></i>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

