<h1>Projects#show</h1>
<p>Find me in app/views/projects/show.html.erb</p>
<div moodboard>
  <%= render 'shared/projects/work_in_progress_display' %>
  <%= render 'shared/projects/color_swatch_display' %>
</div>
<%= render 'shared/projects/form_new_version' %>
<% if !@last_color_swatch %>
  <%= render 'shared/projects/new_color_swatch' %>
<% end %>
<%= render 'shared/projects/new_comment' %>


