<div class="container-fluid-versions">

  <div class="version-title header">
    <h2><%= @project.name %></h2>
    <h3>PROJECT HISTORY</h3>
    <div class="deploy-plus">
      <%= link_to project_path(@project) do %>
        <button class="btn-circle-plus"><i class="fas fa-step-backward"></i></button>
      <% end %>
    </div>
  </div>
<% console %>
  <% @versions.each do |version| %>
  <div class="card-version mt-3 mb-3">
    <div class="img">
      <% if version.photo? %>
        <%= cl_image_tag version.photo, width: 200, height: 250, crop: :fill%>
      <% else %>
      <%= image_tag 'https://res.cloudinary.com/de6fhitzz/image/upload/v1567682788/Capture_d_e%CC%81cran_2019-09-05_a%CC%80_13.26.07_oqwgqq.png', width: 200, height: 220, crop: :fill %>
      <% end %>
    </div>
      <div class="card-version-infos">
        <h5><%= @project.name %></h5>
        <p>"<%= @project.brief %>"</p>
        <p><%= version.name %></p>
          <div class="card-version-btn">
            <%= link_to project_version_path(version.project, version) do %>
              <button class="btn-circle-view"><i class="fas fa-eye"></i></button>
            <% end %>
          </div>
      </div>
  </div>
  <% end %>
</div>
