<div class="dashboard d-flex">
    <% if @customer_projects.any? %>
     <h1>Dashboard</h1>
        <%= button_tag(type: 'submit', class: "btn-circle-save") do %>
        <i class="fas fa-plus"></i>
        <% end %>
        <%= link_to "Get started", new_project_path(@project), class: "a" %>
     <% @customer_projects.each do |project| %>
      <div class="card-version mt-3 mb-3">
       <%#= image_tag "#" %>
       <div class="card-version-infos">
        <p><%= project.name %></p>
        <p><%= project.brief %></p>
          <i class="btn-circle-view far fa-eye"></i>
        <%= link_to "View Project", project_path(project), class: "a" %>
       </div>
      </div>
     <% end %>
    <% end %>
    <% if @artist_projects.any? %>

     <h5>Dashboard</h5>
     <% @artist_projects.each do |project| %>
      <div class="card-version mt-3">
       <%#= image_tag "#" %>
       <div class="card-version-infos">
        <p><%= project.name %></p>
        <p><%= project.brief %></p>
        <%= link_to "View Project", project_path(project), class: "a" %>
       </div>
      </div>
     <% end %>
    <% end %>
    <% if !@customer_projects.any? && !@artist_projects.any? %>
     <h3><i class="fas fa-palette"></i> Moodboards made effective.</h3>
     <p>Bring your ideas to life, start your first project.</p>
     <%= link_to "Get started", new_project_path(@project), class: "a" %>
    <% end %>
</div>
