<div class="d-flex">
  <div class="m-3 col-6">
    <div class="container d-flex justify-content-start align-items-stretch m-0 col-12 flex-column">

      <div class="ml-3">
        <% if !@artist_projects.any? && @customer_projects.any? %>
        <% @customer_projects.each do |project| %>
        <div class="card-product mt-3">
          <%#= image_tag "#" %>
          <div class="card-product-infos">
            <p><%= project.name %></p>
            <p><%= project.brief %></p>
            <p><%= project.id %></p>
          </div>
          <% end %>
        </div>
        <% elsif @artist_projects.any? && !@customer_projects.any? %>
        <% @artist_projects.each do |project| %>
          <div class="card-product mt-3">
            <%#= image_tag "#" %>
            <div class="card-product-infos">
              <p><%= project.name %></p>
              <p><%= project.brief %></p>
              <p><%= project.id %></p>
            </div>
            <% end %>
          </div>
        <% else %>
          <h3><i class="fas fa-palette"></i> Moodboards made effective.</h3>
          <p>Bring your ideas to life, start your first project.</p>
          <%= link_to "Get started", dashboard_path, class: "btn btn-primary" %>
        </div>
        <% end %>

    </div>
  </div>
</div>
